.main-quote {
font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: #3f4245;
  background-color: #fff;
}

.wholeQuote {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: #3f4245;
  background-color: #fff;
}

